/**
 * basic layout
 */

	/* colors */
	

	/* sizes */
	#main-wrap > div {
		min-height: 450px;
	}


	#header,
	#footer {
		min-height: 40px;
	}



	#main-wrap > div { min-height: 450px; }


	#header,
	#footer {
	    min-height: 40px;
	}


	/* layout */
	#main-wrap {
	    /* overflow to handle inner floating block */
	    overflow: hidden;
	}

	#sidebar {
	    float: left;
	    width: 30%;
	}

	#content-wrap {
	    float: right;
	    width: 70%;
	}
